* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
      flex-wrap: wrap;
      justify-content: center;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
/* Лого */
header img {
    height: 50px;
}
/* Название сайта */
header h1 {
    margin: 0;
}
/* Навигационное меню хедера*/
header nav {
    display: flex;
    justify-content: flex-end;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    margin-left: 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}
@media (orientation: portrait) and (max-width: 480px) {
    nav ul {
      flex-direction: column;
    }
    header nav ul li {
      margin-right: 0;
      margin-bottom: 10px;
    }
}

/* Основной контент */
main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

div {
    border: 1px solid black;
    background-color: #5f5d5f;
}

.lilink{
    margin-bottom: 10px;
}

.regform {
    margin-top: 10px;
}

.container {
    display: flex;
    flex-direction: column;
  }

  .container > * {
    order: 2;
  }

  .table {
    order: 1;
  }

  @media (min-width: 600px) {
    .container > * {
      order: initial;
    }
}

/* Подвал сайта */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

img {
    height: 200px;
    width: 200px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #4a314f;
}

tr:nth-child(odd) {
    background-color: #80845c;
}